.h1 {
  background-color: #1abc9c;
  text-align: center;
}

.hide {
display: none;
audio { display:none;}
}


.myDIV:hover +.hide {
  display: block;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(173, 230, 195);
  margin-top: 30px;
 
}

parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  background-color: rgb(173, 230, 195);
}
.child2 {
  background-image: linear-gradient(rgb(91, 104, 172), white, rgb(0, 255, 136), rgb(92, 135, 122), green, rgb(80, 49, 99));
  margin-top: 100px auto;
  position: relative;
  width: 1200px;
  height: 1200px;
  left: 100px;
  display: inline-block;
  border: 1px solid rgb(68, 0, 255);
  padding: 1rem 1rem;
  vertical-align: middle;
  overflow: hidden;
  
}

.My{
  background-image: linear-gradient(chartreuse, white, rgb(114, 83, 96), rgb(0, 187, 255), green, brown);
  margin-top: 100px auto;
  position: relative;
  width: 1200px;
  height: 1200px;
  left: 100px;
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;

}


.Family {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #ccc;
  margin: 10px;
  outline: 2px solid #000;
  position: absolute;
  top: 19%;
  left: 16%;
  transform: translate(-50%, -50%);
}

.Interests {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #703998;
  margin: 10px;
  outline: 2px solid #000;
  position: absolute;
  top: 19%;
  left: 79%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.Driving {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #05966d;
  margin: 10px;
  outline: 2px solid #000;
  position: absolute;
  top: 75%;
  left: 79%;
  transform: translate(-50%, -50%);
}

.Strengths {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #1c28c8;
  margin: 10px;
  outline: 2px solid #000;
  position: absolute;
  top: 75%;
  right: 49%;
  transform: translate(-50%, -50%);
}


.middle-circle {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-color: #859024;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.MCtext{
display: flex;
align-items: center;
justify-content: 
  center;
Font-weight: 100;
}



